// Variables
$primary-color: #007cba;
$secondary-color: #cccccc;
$tertiary-color: #e2e4e7;

$primary-color-hover: #0074A2;

// Buttons
$primary-button-color: #007cba;
$secondary-button-color: #f3f5f6;
$tertiary-button-color: #aaaaaa;

$primary-button-color-hover: #0074A2;
$secondary-button-color-hover: #f1f1f1;
$tertiary-button-color-hover: #333;

// Text
$primary-text-color: #007cba;
$secondary-text-color: #fff;
