@import '../../config';
@import 'step1';
@import 'step2';

// Steps
.gfpdf-step {
	overflow: auto;
	max-height: 75vh;
	padding-right: 20px;

	h3 {
		font-size: 18px;
		margin-top: 0;
	}
}

@media only screen and (max-height: 500px) {
	.gfpdf-step {
		//max-height: 55vh;
	}
}

// Logs
section.logs {
	margin-bottom: 15px;

	// Log box
	.log-wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 30px 0 0 0;

		// Errors
		.log-container {
			width: 98%;
			max-width: 60vh;
			border-top: 1px solid $secondary-color;
			padding-bottom: 4px;

			&.true {
				border: 1px solid $secondary-color;
			}

			&.false > div {
				display: none;
			}

			.log-entries {
				overflow: auto;
				max-height: 150px;

				font-family: "Courier New", Courier, monospace;
				font-size: 90%;

				.log-entry {
					padding: 2px 10px;

					&.success {
						color: scale-color($success-text-color, $lightness: -10%);
					}

					&.errors {
						color: scale-color($error-text-color, $lightness: -10%);
					}

					&.warnings {
						color: scale-color($warning-text-color, $lightness: -10%);
					}
				}
			}
		}

		// Font colors
		.success {
			color: $success-text-color;
		}

		.errors {
			color: $error-text-color;
		}

		.warnings {
			color: $warning-text-color;
		}

		h3 {
			text-align: center;
			font-size: 16px;
			margin: -11px 0 5px 0;
			padding: 0;

			&.success, &.errors, &.warnings {
				cursor: pointer;
			}

			.lines {
				background:#fff;
				padding: 0 10px;
			}

			.expand {
				color: #000;
				padding-left: 5px;
			}
		}
	}
}
