@import '../../config';

// Close button/icon
.gfpdf-close-button {
	position: absolute;
	right: 22px;
	top: 5px;
	cursor: pointer;
	height: 48px;
	width: 50px;
	border: 0;
	background-color: transparent;

	&:focus {

		&:before, &:after {
			background-color: $primary-color;
		}
	}

	&:before, &:after {
		position: absolute;
		top: 8px;
		left: 24px;
		content: ' ';
		height: 30px;
		width: 2px;
		background-color: $tertiary-button-color;
	}

	&:before {
		transform: rotate(45deg);
	}

	&:after {
		transform: rotate(-45deg);
	}

	&:hover {

		&:before, &:after {
			background-color: $tertiary-button-color-hover;
		}
	}
}
