@import '../../config';

// Containers
#gfpdf-bulk-generator-overlay {
	background: rgba(0, 0, 0, 0.4);
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 100050;
}

#gfpdf-bulk-generator-popup {
	width: 50vw;
	background: #FFF;
	position: fixed;
	top: 0;
	left: 25vw;
	padding: 3vh 3vw 7vh;
	overflow: auto;
	z-index: 100100;

	footer {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;

		background: #EEE;
		text-align: right;

		button {
			margin: 13px 20px;
		}
	}
}

@media only screen and (max-width: 768px), (max-height: 768px) {

	#gfpdf-bulk-generator-popup {
		left: 0;
		width: 94vw;
		height: 90vh;

		footer button {
			margin: 5px 20px;
		}
	}
}
