@import 'src/assets/scss/config';

// Containers
#gfpdf-bulk-generator-overlay {
	background: rgba(0, 0, 0, 0.4);
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 100050;
}

#gfpdf-bulk-generator-popup {
	width: 50%;
	background: #FFF;
	position: fixed;
	top: 0;
	left: 50%;
	margin-left: -25%;
	max-height: 90%;
	padding: 3em;
	overflow: auto;
	z-index: 100100;
}
