// Variables
$primary-color: #007cba;
$secondary-color: #cccccc;
$tertiary-color: #e2e4e7;

// Buttons
$tertiary-button-color: #aaaaaa;
$tertiary-button-color-hover: #333;

// Text
$success-text-color: #006100;
$error-text-color: #B30909;
$warning-text-color: #B85C00;
