@import '../../config';

// PdfList Component
li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 12px 5px;
  font-size: 15px;
  border-bottom: 1px solid $secondary-color;

  &:last-of-type {
    border-bottom: none;
  }

  .toggleAll {
    font-weight: bold;
  }

  span {
    font-size: 11px;
    color: darken($secondary-color, 15%);
    font-weight: normal;
  }
}
