@import '../../config';

// Step2
#gfpdf-step-2 {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 10px 0px 15px 0px;

	// react-circular-progressbar styles
	.CircularProgressbar {
		height: 250px;

		.CircularProgressbar-path {
			stroke: $primary-color;
			stroke-linecap: round;
			transition: stroke-dashoffset 0.5s ease 0s;
		}

		.CircularProgressbar-trail {
			stroke: $secondary-color;
		}

		.CircularProgressbar-text {
			fill: $primary-color;
			font-size: 20px;
			dominant-baseline: middle;
			text-anchor: middle;
		}
	}

	h2 {
		font-size: 16pt;
		font-weight: normal;
	}
}
