@import '../../config';
@import './step1';
@import './step2';

// Steps
.gfpdf-step {
	overflow: auto;
	max-height: 60vh;
	padding-right: 20px;

	h3 {
		font-size: 18px;
		margin-top: 0;
	}
}

// Logs
.logs {
	margin-top: 40px;

	// Log box
	.log-box {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 10px 0px 15px 0px;

		// Errors
		.errors-container {
			width: 60%;

			&.true {
				border: 1px solid $secondary-color;
				margin-bottom: 20px;
			}

			&.false {
				border-top: 1px solid $secondary-color;
			}

			.items {
				overflow: auto;
				max-height: 150px;
				padding-bottom: 5px;

				.item {
					padding: 4px 20px;
					opacity: 0.8;

					&.false {
						display: none;
					}
				}
			}
		}

		// Font colors
		.success {
			color: green;
		}

		.errors {
			color: #ff0000;
		}

		.warnings {
			color: #f2991a;
		}

		h3 {
			text-align: center;
			font-size: 16px;
			margin-top: -12px;

			&.success, &.errors, &.warnings {
				cursor: pointer;
			}

			.lines {
				background:#fff;
				padding:0 10px;
			}

			.expand {
				color: #000;
				padding-left: 5px;
			}
		}
	}
}
