@import '../../variables';

#gfpdf-bulk-generator-container {

  /*
   * The popup container
   */
  #gfpdf-bulk-generator-overlay {
    background: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100050;
  }

  #gfpdf-bulk-generator-popup {
    position: fixed;
    top: 0;
    left: 50%;
    background: #FFF;
    width: 50%;
    margin-left: -25%;
    z-index: 100100;
    padding: 3em;
    overflow: hidden;
  }

  /*
   * Close Button
   */
  header {
    margin-bottom: 20px;

    h2 {
      font-size: 25px;
      margin: 0 0 30px;
    }
  }

  /*
   * Footer
   */
  footer {
    margin: 20px 0 0 0;

    :first-child {
      margin-right: 6px;
    }
  }
}