@import '../../variables';

#gfpdf-bulk-generator-container {

  /*
   * The popup container
   */
  #gfpdf-bulk-generator-overlay {
    background: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100050;
  }

  #gfpdf-bulk-generator-popup {
    position: fixed;
    top: 0;
    left: 50%;
    background: #FFF;
    width: 50%;
    margin-left: -25%;
    z-index: 100100;
    padding: 3em;
    overflow: hidden;
  }

  /*
   * Close Button
   */
  header {
    margin-bottom: 20px;

    h2 {
      font-size: 25px;
      margin: 0 0 30px;
    }
  }

  /*
   * Step
   */
  .gfpdf-step {
    overflow: auto;
    max-height: 50vh;
    padding-right: 20px;

    h3 {
      font-size: 18px;
      margin-top: 0;
    }

    .gfpdf-settings-group {
      margin-bottom: 25px;

      input {
        padding: 7px 8px;
        font-size: 13px;
      }
    }
  }

  /*
   * Toggle List
   */
  .gfpdf-toggle-list {
    margin: 0;

    li {
      display: flex;
      justify-content: space-between;
      align-items: center;

      margin: 0;
      padding: 12px 5px;
      font-size: 15px;
      border-bottom: 1px solid $secondary-color;

      &:last-of-type {
        border-bottom: none;
      }

      span {
        font-size: 11px;
        color: darken($secondary-color, 15%);
        font-weight: normal;
      }
    }
  }

  /*
   * Tags
   */
  .gfpdf-tags {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;

    button {
      margin: 3px;
    }
  }

  /*
   * Footer
   */
  footer {
    margin: 20px 0 0 0;

    :first-child {
      margin-right: 6px;
    }
  }
}